:root {
--primary-text-color:#757575;
--title-text-color:#212121;
--accent-color:#2196F3;
--primary-bg-color:#FFFFFF;
--primary-white-color:#FFFFFF;
}

.conteiner {
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
}
.main-nav {
    display: flex;
    align-items: center;
    
}
.list {
    display: flex;
    align-items: center;
    margin-left: 93px;
}

body {
    background-color:var(--primary-bg-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
}
ul {
    list-style: none;
}
 .logo {
font-family: Raleway, sans-serif;
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1,19;
letter-spacing: 0.03em;
color: #2196F3;
text-decoration: none;
 }
 .logo-accent {
     color: #212121;
     text-decoration: none;
 }
 .logo-link-accent {
     color: #FFFFFF;
 }
 

/* site-nav */
.site-nav {
    color:#212121;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
text-decoration:none;
padding-right: 50px;

}
 .site-nav:hover,
 .site-nav:focus {
     color:var(--accent-color);
     text-decoration: none;
 }
 .site-nav:active {
     color: var(--accent-color);
 }
 .site-nav .link.current {
     color:var(--accent-color);
 }
 .site-nav-current {
     text-decoration: none;
    color: var(--accent-color);
    padding-right: 50px;
 }
 .auth-nav {
     color:var(--primary-text-color);
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
text-decoration:none;
padding-right: 50px;
 }
 .auth-nav:hover,
 .auth-nav:focus {
     color:var(--accent-color);
 }
 .hero-title
 {
     background-color: #2F303A;
     color: #FFFFFF;
font-weight: 900;
font-size: 44px;
line-height: 1,4;
 }


 .visually-hidden {
     position: absolute;
     white-space: nowrap;
     width: 1px;
     overflow: hidden;
     
 }

 .section-title {
     color:var(--title-text-color);
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
 }
 .feature-list .title {
     color:var(--title-text-color) ;
 }
 .text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
 }
.title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height:1.2;
    letter-spacing: 0.03em;
}

 .work-list {
     color:var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
 }
 .heading-list {
     color:var(--title-text-color) ;
font-weight: 500;
font-size: 16px;
line-height: 1.18;
 }
 .heading-title {
     color:var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
 }
 .heading-list-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
 }
 .adress {
     color: #FFFFFF;
     font-style: normal;
     text-decoration: none;
 }
 
 .button.secondary.curent :active {
     cursor: pointer;

 }
 .button.secondary.curent:hover {
    color: var(--primary-white-color);
        background-color: var(--accent-color);
        font-weight: 500;
            font-size: 16px;
            line-height: 1.6;

 }

 .button.secondary:hover,
 .button.secondary:focus {      
    color:var(--primary-white-color);
          background-color: var(--accent-color);
font-weight: 500;
font-size: 16px;
line-height: 1.6;
cursor: pointer;
 }
 .button-item {
    color: var(--primary-white-color);
    background-color:var(--accent-color);
    font-weight: 700;
    ont-weight: 700;
font-size: 16px;
line-height: 1.8;
cursor: pointer;
padding: 10px 32px;
    
 }
 
 .portfolio-picture {
     color:var(--title-text-color);
font-weight: 700;
font-size: 18px;
line-height: 2;
 }
 .portfolio-nav {
     color:var(--primary-text-color);
font-weight: 400;
font-size: 16px;
line-height: 1.8;
 }

.adress-nav {
    background-color: #2F303A;
} 